.post{
    height: auto;
    width: 400px;
}
.imgDiv{
  width: 500px;
  height: 400px;
  
  
    
}

img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    
}

input{width: 95%;}
.Post-header{
  padding-left: 10px;
}
.Post-date{
  padding-right: 10px;
}